<div class="header">
  <div class="logo-header">
    <a href="/" class="heading-24-bold"> Exclusive </a>
  </div>

  <nav class="menu-header">
    <div class="menu-item active">
      <a href="/" class="title-16-regular nav-link"> Home </a>
    </div>
    <div class="menu-item">
      <a href="/contact" class="title-16-regular nav-link"> Contact </a>
    </div>
    <div class="menu-item">
      <a href="/about" class="title-16-regular nav-link"> About </a>
    </div>
    <div class="menu-item">
      <a href="/signUp" class="title-16-regular nav-link"> Sign Up </a>
    </div>
  </nav>

  <div class="fn-header">
    <div class="search-header">
      <input
        type="text"
        placeholder="What are you looking for?"
        class="search-input"
      />
      <button id="search-button" class="btn-search">
        <img src="../.././../src/assets/icons/Search.svg" alt="icon-search" />
      </button>
    </div>

    <div class="icon-header">
      <a href="/wishlist" class="wishlist-icon nav-link">
        <img src="../../../src/assets/icons/Wishlist.svg" alt="icon-wishlist" />
      </a>
      <a href="/cart" class="cart-icon nav-link">
        <img src="../../../src/assets/icons/Cart1.svg" alt="icon-cart" />
      </a>
    </div>
  </div>
</div>

<div class="border-bottom"></div>
