<section class="top-header">
  <div class="title-header">
    <p>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
    <a href="#">ShopNow</a>
  </div>
  <div class="language-header">
    <button type="button" class="button-language" id="language-button">
      <span>English</span>
      <img src="../../../src/assets/icons/DropDown.svg" alt="icon-dropDown" />
    </button>

    <div class="drop-down" id="dropdown-menu">
      <ul>
        <li><span>English</span></li>
        <li><span>Vietnamese</span></li>
        <li><span>French</span></li>
        <li><span>German</span></li>
      </ul>
    </div>
  </div>
</section>
