<footer class="footer">
  <div class="container-footer">
    <div class="footer-menu">
      <div class="footer-item">
        <div class="footer-frame">
          <a href="/" class="heading-24-bold"> Exclusive </a>
          <span>Subscribe</span>
          <span>Get 10% off your first order</span>
        </div>
        <div class="footer-mail">
          <input type="text" />
          <button type="button">
            <img src="../../src/assets/icons/icon-send.svg" alt="icon-send" />
          </button>
        </div>
      </div>
      <div class="footer-item">
        <div class="footer-title">
          <span>Suppport</span>
        </div>
        <div class="footer-support">
          <span>111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</span>
          <span>exclusive@gmail.com</span>
          <span>+88015-88888-9999</span>
        </div>
      </div>
      <div class="footer-item">
        <div class="footer-title">
          <span>Account</span>
        </div>
        <div class="footer-account">
          <span>My account</span>
          <span>Login / Register</span>
          <span>Cart</span>
          <span>Wishlist</span>
          <span>Shop</span>
        </div>
      </div>
      <div class="footer-item">
        <div class="footer-title">
          <span>Quick Link</span>
        </div>
        <div class="footer-quick-link">
          <span>Privacy Policy</span>
          <span>Term Of Use</span>
          <span>FAQ</span>
          <span>Contact</span>
        </div>
      </div>
      <div class="footer-item">
        <div class="footer-title">
          <span>Download App</span>
        </div>
        <div class="footer-quick-link">
          <span>Privacy Policy</span>
          <span>Term Of Use</span>
          <span>FAQ</span>
          <span>Contact</span>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right">
    <div class="container-footer-copy">
      <div class="copy-right">
        <span
          ><img src="/src/assets/icons/Group.svg" alt="icon-group" /> 2021
          Exclusive. All Rights Reserved.</span
        >
      </div>
    </div>
  </div>
</footer>
